/*
  ========================================
  Background
  ========================================
*/

body {
    background-image: url("../images/basketball-floor.jpg");
}

.game {
    clear: both;
    width: 135vh;
    height: 90vh;
    margin: 20px 20px 20px 20px;
    border-width: 15px;
    border-style: solid;
    border-color: black;
    background-image: url("../images/static.png");
}

.center {
    margin: auto;
    width: 50%;
    border: 5px solid turquoise;
    padding: 50px;
    margin-top: 20px;
}